*
/*Alle sider*/
body{
    background-color: #EDFCFF;
    text-align: center;
    color: #003B49;}

h2,h3,h4 { 
    font-size: 1.7em;
    margin-top: 1em;
    margin-bottom: 1em;}

/*Kontakt os side*/
form {
    text-align: left;
}
    

    

/*Kontaktform*/
input[type=text], input[type=email], select, textarea { 
    width: 100%;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 0.5em;
    margin-bottom: 1em;
  }