*
/*Alle sider - Mobile*/

/*Navigation styling */
header {
    background-color: #003B49;
    color: #D7F7FF;
    height: 70px;
    position: fixed;
    top: 0;
    width: 100%;}

header nav {
        display: none;}

.show{ 
        display: block;
        position: fixed;
        top: 70px;
        left: 0;
        background-color: #EDFCFF;
        width: 100%;
        height: 100%;}



nav ul{
    list-style-type: none; /*fjerne bulletpoints fra listen*/
    gap: 1em;
    padding: 0;} 

nav li{
    padding: 0.8em;} 

nav li a{
    color: #003B49;
    text-decoration: none;
    font-size: 20px;
    font-family: "avenir-next-world", sans-serif;
    font-weight: 700;
    font-style: normal;
    display: block;
    text-align: left;
    padding-left: 1em;
    border-bottom: 2px solid #003B49;}

h1 {
    font-family: "brother-1816", sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 1.7em;}

header img {
    max-height: 40px;
    width: auto;
    display: block;}

.header-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5em;
    height: 100%;}

.logo-elements {
    display: flex;
    align-items: center;
    gap: 1.2em;}

.logo-link {
    display: flex;
    align-items: center;
    gap: 1.2em;
    text-decoration: none;
    color: inherit;}
    

button#bars {
        background-color: #EDFCFF;
        border: none;
        padding: 12px;
        border-radius: 10px;
        font-size: 20px;
        cursor: pointer;}

button#bars:hover{
        background-color: #edfcffbb;}
        

    
/*Main styling */
main{
    padding-top: 80px;
    padding-bottom: 40px;}

h2 { 
    font-family: brother-1816-printed, sans-serif;
    font-weight: 900;
    font-style: normal;
    letter-spacing: 3px;
    font-size: 2.7em;
    margin-bottom: 0;}


h3,h4,h5 { 
    font-size: 2em;
    margin-bottom: 0em;
    font-family: avenir-next-world, sans-serif;
    font-weight: 700;
    font-style: normal;}

body{
    background-color: #EDFCFF;
    text-align: center;
    color: #003B49;
    font-family: greycliff-cf, sans-serif;
    font-weight: 500;
    font-style: normal;}



input[type=submit] {
    background-color: #003B49;
    color: #EDFCFF;
    border: none;
    font-family: brother-1816-printed, sans-serif;
    font-weight: 900;
    font-style: normal;
    letter-spacing: 3px;
    border-radius: 10px;
    cursor: pointer;
    padding: 0.2em 1.5em;
    font-size: 1.5em;
    text-align: center;}

input[type=submit]:hover {
    background-color: #011317;}

    

/*Kontakt os side - Mobile*/
/*Kontaktform*/
.message-header {
    margin-top: 2em;}

form {
    text-align: left;
    max-width: 350px;
    margin: auto;}

input[type=text], input[type=email], select, textarea { 
    width: 100%;
    padding: 1em;
    border: 2px solid #003B49;
    border-radius: 10px;
    margin-top: 0.5em;
    margin-bottom: 2em;}

/*Ring til os*/
.ring-header {
    margin-top: 2em;}
    
p.telefonnummer {
    margin-bottom: 2em;}
    

p.åbningstider {
    font-weight: bold;
    margin-bottom: 0em;}

p.bemærkning {
    margin-top: 0em;
    font-weight: bold;
    font-style: italic;}